*, *:after, *:before {box-sizing: border-box;padding: 0;margin: 0;}

.fond {
    background: url(image/fond.png);
    height: 100vh;
    background-size: 100% 100%;
    
}

body {
    color: white !important;
}

a img {
    height: 80%;width: 100%;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    background: -webkit-linear-gradient(0deg,pink, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:hover img {
    border: 3px solid red;
}
/* design de l'échiquier */

.damier {
    height: 9vh;
    width: 12.5% !important;
}

.damier input {
    text-align: center;
    background: none;
    min-height: 100%;
    max-width: 100%;
}

.echec > .row > * {
    padding: 0 !important;
}

::-webkit-input-placeholder {
    text-align: center;
 }

.white {
     background: white;
     color: black;
}
.black {
    background: black;
    color: white !important;
}

.black input {
    font-size: 1.5em;
    color: red;
}

.white input {
    font-size: 1.5em;
    color: red;
}

.boolean {
    font-size: 3em;
    color:blue;
}